\<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Access Denied !!!</h2>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="padding:2px">Back To Home</a>
        <hr />
    </div>
</div>