<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Account Created Succesfully !!!</h2>
        <p>Please login to continue.</p>
        <a asp-controller="Account" asp-action="Login"  class="btn btn-primary" style="padding:2px">Log In</a>
        <hr />
        <p>Thank you!</p>
    </div>
</div>